.form-inline.clearfix
	.nested-fields
		= f.input :name, input_html: { class: 'form-control',style: "width:100%" }
		%br
		= f.input :quantity, input_html: { class: 'form-control', style: "width:100%" }
		%br
		= f.input :unit, input_html: { class: 'form-control', style: "width:100%" }
		%br

		= link_to_remove_association "Remove", f, class: "form-button btn btn-sm btn-default", style: "float: right"
	%h1
		%br
