<h1> Recipes for success. </h1>
<div>
<p> Have you ever been in a kitchen and wondered, "What do I do with my hands?" <br>
Yes? Well you're in the right place. <br>
Welcome to our CMPE131 project. <br>
Created by Andre Voloshin, Austin Yam, Cameron Chien, and Jonathan Wong
</div>
<%= link_to 'Recipe Collective', controller: 'posts' %>
