
      <!-- === BEGIN CONTENT === -->
        <div id="content">
            <div class="container">
                <div class="row margin-vert-30">
                    <div class="col-md-12">
                        <h2 class="margin-bottom-20">About Us</h2>
                        <div class="row margin-bottom-30">
                            <div class="col-md-12 animate fadeInLeft">
                              <p>We are a group of students in CMPE 131. </p>
                              <p>&nbsp;</p>
                              <h2 class="margin-bottom-20">Goals</h2>
                              <p class="margin-bottom-40"> - Design and create a community driven recipe collection for users to come together to rate, create, and contribute recipes of all kinds.<br>
                                - Give people an easy way to find recipes <br>
                                - Ensure users are happy with the food they are making </p>
                              <h2 class="margin-bottom-20">Creators </h2>
                              <p class="margin-bottom-40">Cameron Chien</p>
                              <p class="margin-bottom-40">Jon Wong</p>
                              <p class="margin-bottom-40">Andre Voloshin</p>
                              <p class="margin-bottom-40">Austin Yam </p>

                            </div>
                        </div>
                        <div class="row">


                        </div>
                        <div class="row">
                            <div class="col-md-12 animate fadeInUp">
                                <p class="margin-bottom-40"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Content -->
    <div id="content" class="background-white">
            <div id="welcome" class="background-white">
            <div class="container">
                <div class="row margin-vert-40">
                    <!-- Main Text -->
                    <div class="col-md-12">

                        <p class="text-center"> </p>
</div>
                    <!-- End Main Text -->
                </div>
            </div>
        </div>
            </div>
        </div>
