
      <!-- === BEGIN CONTENT === -->
        <div id="content">
            <div class="container">
                <div class="row margin-vert-30">
                    <div class="col-md-12">
                        <h2 class="margin-bottom-20">Contact Us</h2>
                        <div class="row margin-bottom-30">
                            <div class="col-md-12 animate fadeInLeft">
                              <p>For any further questions, we can be reached at RecipeCollective131@gmail.com </p>
                            <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>

                            </div>
                        </div>
                        <div class="row">


                        </div>
                        <div class="row">
                            <div class="col-md-12 animate fadeInUp">
                                <p class="margin-bottom-40"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Content -->
    <div id="content" class="background-white">
            <div id="welcome" class="background-white">
            <div class="container">
                <div class="row margin-vert-40">
                    <!-- Main Text -->
                    <div class="col-md-12">

                        <p class="text-center"> </p>
</div>
                    <!-- End Main Text -->
                </div>
            </div>
        </div>
            </div>
        </div>
