
<!-- === BEGIN HEADER === -->
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
    <!--<![endif]-->
    <head>
        <!-- Title -->
        <title>Recipe Collective - Home</title>
        <!-- Meta -->
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <!-- Favicon -->
        <link href="favicon.ico" rel="shortcut icon">
    </head>
    <body>
        
        <!-- Header -->
        <div id="header" style="background-position: 50% 0%; height:100%;" data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="row">
                    <!-- Logo -->
                    <div class="logo">
                        <a href="home" title="">
                            <img src="logo.png" alt="Logo" />
                        </a>
                    </div>
                    <!-- End Logo -->
                </div>
                <!-- Top Menu -->
                <div id="hornav" class="row text-light">
                    <div class="col-md-12">
                        <div class="text-center visible-lg">
                            <ul id="hornavmenu" class="nav navbar-nav">
                                <li>
                                    <a href="/pages/home" class="fa-home active">Home</a>
                                </li>
                                <li>
                                    <span class="fa-gears ">Account</span>
                                    <ul>
                                  	  <li>
                                            <a href="/users/sign_in">Sign In</a>
                                        </li>
                                        <li>
                                            <a href="/users/sign_up" >Sign Up</a>
                                        </li>
                                     </ul>
                                </li>
                                <li>
                                    <a href="/pages/about" class="fa-users ">About Us</a>
                                    
                                </li>
                                <li>
                                     <a class="fa-cutlery ">Recipes</a>
                                   <ul>
                                  	  <li>
                                            <a href="/recipes/new">Add Recipe</a>
                                        </li>
                                        <li>
                                            <a href="/recipes" >The Collective</a>
                                        </li>
                                     </ul>
                                   
                                </li>
                                <li>
                                    
                                </li>
                                <li>
                                    <a href="/pages/contact" class="fa-comment ">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Top Menu -->
            </div>
        </div>
        <!-- End Header -->
        <!-- === END HEADER === -->
        <!-- === BEGIN CONTENT === -->
        <div id="welcome" class="background-white">
            <div class="container">
                <div class="row margin-vert-40">
                    <!-- Main Text -->
                    <div class="col-md-12">
                        <h2 class="text-center article-title">Welcome to Recipe Collective</h2>
                        <p class="text-center">Find your perfect recipe!</p>
</div>
                    <!-- End Main Text -->
                </div>
            </div>
        </div>
        <!-- Icons -->
        <div id="icons" class="parallax-bg1 text-light background-primary" style="background-position: 50% 0%;" data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="row margin-vert-40">
                    <!-- Icons -->
                    <div class="col-md-4 text-center animate fadeInLeft">
                        <i class="fa-plus fa-3x color-primary-lighter"></i>
                        <h2 class="padding-top-10">Add</h2>
                        <p>Add a recipe to the collection to share with other members</p>
                    </div>
                    <div class="col-md-4 text-center animate fadeIn">
                        <i class="fa-search fa-3x color-primary-lighter"></i>
                        <h2 class="padding-top-10">Search </h2>
                        <p>Find the perfect recipe that you have been looking for.</p>
                    </div>
                    <div class="col-md-4 text-center animate fadeInRight">
                        <i class="fa-thumbs-up fa-3x color-primary-lighter"></i>
                      <h2 class="padding-top-10">Review </h2>
                        <p>Listen to what other members have to say about a recipe and share your thoughts.</p>
                      <p>&nbsp;</p>
                    </div>
                    <!-- End Icons -->
                </div>
            </div>
        </div>
        <!-- End Icons -->
        <!-- Content -->
    <div id="content" class="background-white">
            <div class="container">
                <div class="row margin-vert-40">
                    <div class="col-md-12">
                      
                  </div>
                </div>
            </div>
        </div>
        <!-- End Content -->
        <!-- Portfolio -->
        <!-- End Portfolio -->
        <!-- Hiring -->        <!-- End Hiring -->
        <!-- === END CONTENT === -->
        <!-- === BEGIN FOOTER === -->

</html>
<!-- === END FOOTER === -->